.intro{
    padding: 10px;
    font-size: 3vw;
    color: rgb(238, 238, 238);
    text-align: center;
    background-image: url(img/intro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:local ;
    min-height: 40vh;
    overflow: hidden;
 
    
}



.thril{
   min-height: 20vh;
    
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6em ;
    padding: 10px;
    
}

.thril .thead{
    border-bottom: 10px solid rgb(255, 0, 0); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    text-align: center;
}

.thril h2{
    font-size: 3vw;
    color: rgb(238, 238, 238);
    
}

.thril .advan{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10em;
    row-gap: 5em;
    flex-wrap: wrap;
}

.thril .advan .box{
  padding: 10px;
  height: 300px;
  width: 300px;
  
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(238, 238, 238);
  font-size: 1.5em;
  text-align: right;
  text-shadow: 0px 0px 1px rgb(255, 0, 0);
  

  
}


.thril .advan #box1{
  background-image: url(img/advan2.webp);
}
.thril .advan #box2{
  background-image: url(img/red.avif);
}
.thril .advan #box3{
  background-image: url(img/advan3.jpeg);

}


.thril .advan .box p{
    z-index: 1;
}

@media screen and (min-width:501px) {
    
.thril .advan .box{
        width: 500px;
        height: 500px;
    }
    
}



@media screen and (max-width:1440px) {
    .intro{
      font-size: 6vw;
    }

    .thril h2{
        font-size: 10vw;
    }
}

.best{
  margin-top: 20vh;
 
  font-size: 3vw;
  color: rgb(238, 238, 238);
  display:flex ;
  flex-direction: column;
  align-items: center;
}

.best h2{
  border-bottom: 10px solid rgb(255, 0, 0); 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 70%;
  text-align: center;
  
}

.best .bestBikes{
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 0.5em;
  

}

.best .bestBikes .BBike{
  width: 100px;
  height: 200px;
  background-image: url(img/whiteCardbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  animation: boxShadow 10s linear infinite ;
  filter: brightness(80%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  
 
  
  
}

.best .bestBikes #Bike1{
  
  transform: translateY(50px);
}
.best .bestBikes #Bike2{

  /*maybe one day*/
  
}
.best .bestBikes #Bike3{
  
  transform: translateY(50px);
}

.best .bestBikes .BBike img{
  width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.best .bestBikes .BBike .BikeTitle{
  background-color: rgb(37, 37, 37);
  text-align: center;
  font-size: 1.3vw;
  width: 100%;
  padding: 5px;
  
}


.best .bestBikes .BBike .buttonContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding-bottom:1dvh ;
}


.best .bestBikes .BBike .buttonContainer a{
  align-self: flex-end;
  font-size: 1em;
  padding: 1px;
  text-align: center;
  border-radius:15px;
  width: 60px;
  background-color: rgb(75, 75, 75);
  color: rgb(238, 238, 238);
  cursor: pointer;

 
}

.best .bestBikes .BBike .buttonContainer a:hover{
  transform: scale(1.1);
  color: rgb(255, 0, 0);
}
.best .bestBikes .BBike .buttonContainer a:active{
  transform: scale(1.1);
  color: rgb(255, 0, 0);
}






@media screen and (max-width:1440px) {

  .best h2{
      font-size: 10vw;
  }

}

@media screen and (min-width:425px) {
  .best .bestBikes .BBike{
      width: 125px;
      height: 250px;
  }

  .best .bestBikes .BBike .buttonContainer a{
    width: 62.5px;
    border-radius:20px;
  }
}
@media screen and (min-width:768px) {
  .best .bestBikes .BBike{
      width: 240px;
      height: 480px;
  }

  .best .bestBikes .BBike .buttonContainer a{
    width: 120px;
    border-radius:25px;
  }
}


@media screen and (min-width:1118px) {
  .best .bestBikes .BBike{
      width: 300px;
      height: 600px;
  }

  .best .bestBikes .BBike .buttonContainer a{
    width: 150px;
    border-radius:40px;
  }
}

@media screen and (min-width:1600px) {
  .best .bestBikes .BBike{
      width: 350px;
      height: 700px;
  }

  .best .bestBikes .BBike .buttonContainer a{
    width: 300px;
    border-radius:80px;
  }
}


@media screen and (min-width:425px) {
  .best .bestBikes .BBike img{
      width: 125px;
      
  }
}
@media screen and (min-width:768px) {
  .best .bestBikes .BBike img{
      width: 240px;
      
  }
}


@media screen and (min-width:1118px) {
  .best .bestBikes .BBike img{
      width: 300px;
      
  }
}

@media screen and (min-width:1600px) {
  .best .bestBikes .BBike img{
      width: 350px;
     
  }
}


.rent{
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent > h1{
  background-color: antiquewhite;
  width: 100%;
  text-align: right;
  padding: 1em;
  font-size: 3em;
}




.after{
  margin-top: 20vh;
  height: 10vh;
  
}





